doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/7/style.css")
        title Document
    body 
    div.navbar 
            div.button-vektor 
                button 
                    img(src="/5/img/Vector (2).png", alt="")
            div.h1 
                h1 Favourite
            div.button-vektor 
                button 
                    img(src="/5/img/Vector (3).png", alt="")
    div.main  
        div.main__flex 
            div.img 
                img(src="/7/img/banana 3.png", alt="")
            div.h3 
                h3 Banana
                p Fresh fruits
                h4 Rs 50/kg
            .buttton 
                button +2-
    div.main__two 
        div.main__flex 
            div.img 
                img(src="/7/img/banana 3.png", alt="")
            div.h3 
                h3 Banana
                p Fresh fruits
                h4 Rs 50/kg
            .buttton 
                button +2-
    div.main__three  
        div.main__flex 
            div.img 
                img(src="/7/img/banana 3.png", alt="")
            div.h3 
                h3 Banana
                p Fresh fruits
                h4 Rs 50/kg
            .buttton 
                button +2-
    div.total 
        h3 Total Amount
        h3 Rs 710.00
    div.button__two 
        button Book Now
            img(src="/7/img/Group 22.png", alt="")
    footer 
        div.footer
            div.footer-img
                img(src="/4/img/Vector.svg", alt="")
                img(src="/4/img/Vector (1).svg", alt="")
                img(src="/4/img/Vector (2).svg", alt="")
                img(src="/4/img/Vector (3).svg", alt="")
            .footer-paragrph 
                p home
                p Favourite
                p My Cart
                p Profile