body{
    background-color: #F9ECD3;
}
.header{
    display: flex;
    justify-content: space-between;
    img{
        width: 70px;
        height:115px;
    }
}
.button-two{
    display: flex;
    justify-content: space-around;
}
.button button{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #FAE61E;
}
.button-letf button{
    background-color: #99988AD1;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 30px;
}
.h2{
    margin-left: 15px;
}
    .big {
        .medium  {
            display: flex;
            justify-content: space-between;
            .card {
                width: 35%;
                height: 200px;
                border-radius: 30px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem ;
                justify-content: space-evenly;
                margin-top: 20px;
            }
        }
    }
    .footer{
        width: 103%;
        height: 80px;
        background-color: #FCE92480;
        transform: translatex(-5px);
        margin-top: 20px;
    }
    .footer-img{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    .footer-paragrph {
        display: flex;
        justify-content: space-around;
        transform: translatey(-20px);
    }