doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="/3/style.css">
        title Document
    body 
    div.navbar 
        <img src="/3/img/Rectangle 3.png" alt="">
        h1 Banana   
        <img src="/3/img/Rectangle 3.png" alt="">
    div.banana 
        <img src="/3/img/banana 3.png" alt="">
    .medium  
            .card 
                img(width="100px" src="/3/img/sweetpamkin 2.png", alt="")
                span 
                    h1 Banana
                    p Rs 50/kg
            .card 
                img(width="100px" src="/3/img/carrot 1.png", alt="")
                span 
                    h1 Orange
                    p Rs 70/kg
    footer 
        div.footer
            div.footer-img
                img(src="/4/img/Vector.svg", alt="")
                img(src="/4/img/Vector (1).svg", alt="")
                img(src="/4/img/Vector (2).svg", alt="")
                img(src="/4/img/Vector (3).svg", alt="")
            .footer-paragrph 
                p home
                p Favourite
                p My Cart
                p Profile