doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="/5/style.css">
        title Document
    body 
    nav 
        div.navbar 
            div.button-vektor 
                button 
                    img(src="/5/img/Vector (2).png", alt="")
            div.h1 
                h1 Favourite
            div.button-vektor 
                button 
                    img(src="/5/img/Vector (3).png", alt="")
    main 
        .main__img 
            img(src="/5/img/banana 2.png", alt="")
        .main__img--two 
            img(src="/5/img/Group 31.png", alt="")
        div.main__left
            div.main__right
                h3 Fresh Banana
                img(src="/5/img/Group 33.png", alt="")
            div.button 
                img(src="/5/img/Group 32.png", alt="")
        div.h1--two 
            h2 Description
        div.paragrph__two 
            p Banana is a very good fruit for body health and <br/> extra vitamin and extra energy for body. this is a <br/> increase of body for baby and boys.....See more
        div.h2
            h2 Related Items
        div.orenge 
            img(src="/5/img/Group 38.png", alt="")
            img(src="/5/img/Group 37.png", alt="")
            img(src="/5/img/Group 36.png", alt="")
            img(src="/5/img/Group 35.png", alt="")
    footer
        div.footer
            div.footer__left 
                p Price
                h2 Rs 50/kg
            div.button 
                button Add to Cart